* {
  box-sizing: border-box;
}
html,
body {
  background: #BEE;
  padding: 20px;
}
.the-pit {
  width: 70%;
  margin: auto;
}
textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.input-wrapper {
  display: flex;
  margin-bottom: 10px;
}
input {
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}
input:first-child{
  margin-right: 10px;
}
button {
  width: 30%;
  height: 50px;
  padding: 5px;
  border: none;
  background: #5c7c94;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
span {
  font-style: italic;
  font-size: 14px;
}
.blog-posts {
  margin-top: 50px;
}
.blog-posts__post {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.blog-posts__post-footer {
  display: flex;
}
.blog-posts__post-footer span {
  width: 50%;
}
.blog-posts__post-content {
  margin-bottom: 15px;
  line-height: 22px;
}
.blog-posts__post-footer span:nth-child(2) {
  text-align: right
}


